<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eliminar Empleado</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-4">
    <h1>Eliminar Empleado</h1>
    <p>¿Estás seguro de que deseas eliminar al empleado <strong th:text="${empleado.nombre + ' ' + empleado.apellido}"></strong>?</p>
    <form th:action="@{/empleado/eliminar/{id}(id=${empleado.idEmpleados})}" method="post">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a th:href="@{/empleado}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>
