<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="layout/plantilla :: head">     
    </head>
    <body>
        <head th:replace="layout/plantilla :: header">
            <div class="container mt-4">
                <h1>Pedidos</h1>
                <div th:if="${not #lists.isEmpty(pedidos)}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID Proveedor</th>
                                 <th>Fecha de pedido</th>
                                  <th>Total</th>
                                <th>ID de productos</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pedido : ${pedidos}">
                                <td th:text="${pedido.idPedido}"></td>
                                <td th:text="${pedido.idProveedor}"></td>
                                <td th:text="${#dates.format(pedido.fecha_pedido, 'yyyy-MM-dd'}"></td>
                                <td th:text="${pedido.total}"></td>
                                <td th:text="${pedido.idProductos}"></td>
                                <td>
                                    <a th:href="@{/pedido/editar/{id}(id=${pedido.idPedido})}" class="btn btn-warning">Editar</a>
                                    <a th:href="@{/pedido/eliminar/{id}(id=${pedido.idPedido})}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este pedido?')">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(pedidos)}">
                    <p>No hay pedidos.</p>
                </div>
                <a th:href="@{/pedido/agregar}" class="btn btn-primary">Agregar Pedido</a>
            </div>
        <footer th:replace="layout/plantilla :: footer">    
    </body>
</html>
