<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Iventario</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-4">
    <h1>Editar Iventario</h1>
    <form th:action="@{/inventario/guardar}" th:object="${inventario}" method="post">
        <input type="hidden" th:field="*{idInventario}"/>
        <div class="form-group">
            <label for="totalProductos">Total Productos</label>
            <input type="text" id="totalProductos" th:field="*{totalProductos}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="tienda">Tienda</label>
            <select id="tienda" th:field="*{tienda.idTienda}" class="form-control">
                <option th:each="tienda : ${tiendas}" th:value="${tienda.idTienda}" 
                        th:text="${tienda.nombre}" th:checked="${empleado.tienda != null && inventario.tienda.idTienda == tienda.idTienda}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
        <a th:href="@{/inventario}" class="btn btn-secondary mt-2">Cancelar</a>
    </form>
</div>
</body>
</html>

